@charset "UTF-8";
@font-face {
    font-family: "Mona Sans";
    src: url("mona-sans/mona-sans-v4-latin-regular.woff2") format("woff2");
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Mona Sans";
    src: url("mona-sans/mona-sans-v4-latin-italic.woff2") format("woff2");
    font-weight: 200 900;
    font-stretch: 75% 125%;
    font-style: italic;
    font-display: swap;
}
