<?xml version="1.0" encoding="UTF-8"?>
<config>
  <!-- Eigener (leer) Platzhalter-Tab -->
  <fieldset
    name="component"
    label="COM_COPYMYPAGE"
    description="COM_COPYMYPAGE_XML_DESCRIPTION">
    <field
      name="placeholder_note"
      type="note"
      label="COM_COPYMYPAGE"
      description="COM_COPYMYPAGE_XML_DESCRIPTION" />
  </fieldset>

  <fieldset
    name="contact-form"
    label="COM_COPYMYPAGE_FIELD_CONFIG_CONTACT_FORM">
    <field
      name="banned_email"
      type="textarea"
      label="COM_COPYMYPAGE_FIELD_CONFIG_BANNED_EMAIL_LABEL"
      description="COM_COPYMYPAGE_FIELD_CONFIG_BANNED_EMAIL_DESC"
      default=""
      rows="3"
      cols="30" />
    <field
      name="banned_subject"
      type="textarea"
      label="COM_COPYMYPAGE_FIELD_CONFIG_BANNED_SUBJECT_LABEL"
      description="COM_COPYMYPAGE_FIELD_CONFIG_BANNED_SUBJECT_DESC"
      default=""
      rows="3"
      cols="30" />
    <field
      name="banned_text"
      type="textarea"
      label="COM_COPYMYPAGE_FIELD_CONFIG_BANNED_TEXT_LABEL"
      description="COM_COPYMYPAGE_FIELD_CONFIG_BANNED_TEXT_DESC"
      default=""
      rows="3"
      cols="30" />
  </fieldset>

  <!-- Standard-Reiter "Berechtigungen" -->
  <fieldset
    name="permissions"
    label="JCONFIG_PERMISSIONS_LABEL"
    description="JCONFIG_PERMISSIONS_DESC">
    <field
      name="rules"
      type="rules"
      label="JCONFIG_PERMISSIONS_LABEL"
      filter="rules"
      validate="rules"
      component="com_copymypage"
      section="component" />
  </fieldset>
</config>
